{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Dosis">
    <link rel="stylesheet" href="{% static 'css/flipdowncss/flipdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/flipdown/flipdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/flipdown/main.js' %}"></script>
    <link rel="stylesheet" href="../static/css/calendary/style.css">
    <script type="text/javascript" src="../static/js/calendary/js.js"></script>
</head>
  
  <style>
    body{
        font-family: 'Dosis';
        background-image: url();
        color: black;
    }
    h1{
      font-family: 'Monserrat';
    }
    p{
      font-size: 3.5em;
      color:rgb(82, 170, 221);
      border-color: black 1px solid;
      font-weight: bold;
    }
    
  </style>
  <body>
    <div class="row m-3 mb-3 pt-5">
      <div class="col-10 justify-content-start mx-auto">
        <div>
            <h1 class="diplay-1 text-center fw-bold">RESERVA TU SESIÓN AHORA</h1>
            <h1 class="text-center fw-bold"> Accede al calendario y coge hora para organizar tu llamada con un consultor de Seguridad y Master 360°</h1>
        </div>
        <div>
            <h1 class="text-center">ELIJE LA HORA LA HORA QUE MAS TE CONVENGA</h1>
            <h3 class="text-center"> RECIBIRAS UN EMAIL DE CONFIRMACIÓN Y NUESTRA LLAMADA A LA HORA QUE TE CONVENIDA </h3>
        
        <!-- calendario-->
        <div class="pt-0 mt-0">
          <div class="planner">
    
            <div class="calendar">
              <div class="calendar-header">
                <span class="btn btn-prev">
                  <i class="icon-angle-left"></i>
                </span>
          
                <span class="">MARZO</span>
                
                <span class="btn btn-next">
                  <i class="icon-angle-right"></i>
                </span>
              </div>
              <table>
                <thead>
                  <tr>
                    <th>DOM</th>
                    <th>LUN</th>
                    <th>MAR</th>
                    <th>MIE</th>
                    <th>JUE</th>
                    <th>VIE</th>
                    <th>SAB</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><span>30</span></td>
                    <td><span>1</span></td>
                    <td><span class="active">2</span></td>
                    <td><span>3</span></td>
                    <td><span>4</span></td>
                    <td><span>5</span></td>
                    <td><span>6</span></td>
                  </tr>
                  <tr>
                    <td><span>7</span></td>
                    <td><span>8</span></td>
                    <td><span class="active">9</span></td>
                    <td><span>10</span></td>
                    <td><span>11</span></td>
                    <td><span>12</span></td>
                    <td><span>13</span></td>
                  </tr>
                  <tr>
                    <td><span class="active">14</span></td>
                    <td><span>15</span></td>
                    <td><span>16</span></td>
                    <td><span>17</span></td>
                    <td><span class="active">18</span></td>
                    <td><span>19</span></td>
                    <td><span>20</span></td>
                  </tr>
                  <tr>
                    <td><span>21</span></td>
                    <td><span>22</span></td>
                    <td><span>23</span></td>
                    <td><span>24</span></td>
                    <td><span>25</span></td>
                    <td><span>27</span></td>
                    <td><span>27</span></td>
                  </tr>
                  <tr>
                    <td><span>28</span></td>
                    <td><span>29</span></td>
                    <td><span>31</span></td>
                    <td><span>1</span></td>
                    <td><span>2</span></td>
                    <td><span>3</span></td>
                    <td><span>4</span></td>
                  </tr>
                </tbody>
          
              </table>
            </div>
        </div>
        
       
        
        <!-- Calendario -->
      </div>
      <!-- modal -->
      <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 fw-bold d-flex justify-content-center" id="exampleModalLabel">SAFELY ASESORÍA</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-5 pb-5">
            </div>
          </div>
        </div>
      </div>
      <!-- col imagen -->
    </div>
    
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>