<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/calendary/style.css">
    <script src="../static/js/calendary/js.js"></script>
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
  
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    
    
    <div class="planner">
    
      <div class="calendar">
        <div class="calendar-header">
          <span class="btn btn-prev">
            <i class="icon-angle-left"></i>
          </span>
    
          <span class="">MARZO</span>
          
          <span class="btn btn-next">
            <i class="icon-angle-right"></i>
          </span>
        </div>
        <table>
          <thead>
            <tr>
              <th>DOM</th>
              <th>LUN</th>
              <th>MAR</th>
              <th>MIE</th>
              <th>JUE</th>
              <th>VIE</th>
              <th>SAB</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><span>30</span></td>
              <td><span>1</span></td>
              <td><span class="active">2</span></td>
              <td><span>3</span></td>
              <td><span>4</span></td>
              <td><span>5</span></td>
              <td><span>6</span></td>
            </tr>
            <tr>
              <td><span>7</span></td>
              <td><span>8</span></td>
              <td><span class="active">9</span></td>
              <td><span>10</span></td>
              <td><span>11</span></td>
              <td><span>12</span></td>
              <td><span>13</span></td>
            </tr>
            <tr>
              <td><span class="active">14</span></td>
              <td><span>15</span></td>
              <td><span>16</span></td>
              <td><span>17</span></td>
              <td><span class="active">18</span></td>
              <td><span>19</span></td>
              <td><span>20</span></td>
            </tr>
            <tr>
              <td><span>21</span></td>
              <td><span>22</span></td>
              <td><span>23</span></td>
              <td><span>24</span></td>
              <td><span>25</span></td>
              <td><span>27</span></td>
              <td><span>27</span></td>
            </tr>
            <tr>
              <td><span>28</span></td>
              <td><span>29</span></td>
              <td><span>31</span></td>
              <td><span>1</span></td>
              <td><span>2</span></td>
              <td><span>3</span></td>
              <td><span>4</span></td>
            </tr>
          </tbody>
    
        </table>
      </div>
      
</body>
</html>